/* NavBar.css */

/* Navigation bar styling */
.navbar {
    background-color: #645CBB;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
  }
  
  /* Logo styling */
  .logo a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 3rem;
  }
  
  /* Navigation links styling */
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 3rem;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #000000;
  }
  